.sidebar {
  width: 220px;
  height: calc(100vh - 70px);

  background-color: #181818;

  padding-top: 20px;

  border-right: 1px solid #2a2a2a;
}

.menu-item {
  padding: 15px 25px;

  cursor: pointer;

  transition: 0.3s;
}

.menu-item:hover {
  background-color: #2a2a2a;
}