.home-layout {
  display: flex;
  min-height: calc(100vh - 70px);
}

.content {
  flex: 1;
  padding: 20px;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .home-layout {
    flex-direction: column;
  }
}